{% extends 'dashboard_two_column_base.html' %}

{% load account %}
{% load bootstrap3 %}
{% load socialaccount %}

{% block title %}Logowanie i rejestracja{% endblock %}

{% block content_column_left %}
    <div class="col-md-12 text-muted text_with_line">Logowanie</div>
    <div class="col-md-12">
        <form action="{% url 'account_login' %}" method="POST" class="form" id="login_form">
            {% csrf_token %}
            {% bootstrap_field login_form.login %}
            {% bootstrap_field login_form.password %}

            <label class="control-label"><a href="{% url 'account_reset_password' %}" class="link-tab">Odzyskaj hasło</a></label>

            <button class="btn btn-primary form-control" type="submit">Zaloguj</button>
        </form>
        <div class="btn-group btn-group-justified" style="margin-top: 10px;">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                 <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Facebook
                </a>
                <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google-plus"></span> Google
                </a>
                <a href="{% provider_login_url "twitter" method="oauth2" %}" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> Twitter
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content_column_right %}
    <div class="col-md-12 text-muted text_with_line">Rejestracja</div>
    <div class="col-xs-12">
        <form method='post' action='{% url 'account_signup' %}' id='signup'>
            {% csrf_token %}
            {% bootstrap_form signup_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary pull-right">
                    Rejestruj
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}