{% load tags_concept %}
{% load tags_vote %}
{% load comments_templatetags %}
{% load tags_templatetags %}
{% load profile_account_templatetags %}

<div class="col-xs-12">
    <div class="clearfix row-no-padding">
        <div class="col-xs-12">
            <div>
                <div style="float: left">
                    <a href="{% url 'concept:concept_detail' concept.slug %}" class="link-remove-format"><img src="{{ concept.created_by.settings.avatar.avatar_image_concept.url }}" class="img-responsive"></a>
                </div>
                <div style="float: left; padding-left: 5px;">
                    <strong>
                        {% render_profile_username concept.created_by %}
                    </strong>
                    <sup class="text-muted">
                        {{ concept.created }}
                        <i class="fa fa-circle-o" aria-hidden="true"></i> {{concept.votes.count }}
                    </sup>
                    <br/>
                    {% if concept.sympathizers %}
                        {% render_sympathizer_preview_less concept.sympathizers.name %}
                    {% endif %}
                    {% for tag in concept.tags.all %}
                        {% render_tag_preview_less tag %}
                    {% endfor %}
                </div>
                <div style="clear: left;">

                </div>

                <p style="clear: left;">{{ concept.content|safe|truncatechars_html:130 }}</p>
                <p class="text-center">
                    <small><a href="{% url 'concept:concept_detail' concept.slug %}" class="link-tab">Wszystkie komentarze</a> <sup class="text-muted">{{ concept.comments.count }}</sup></small>
                </p>
            </div>
        </div>
    </div>
</div>

