{% extends 'dashboard_sidebar_recent.html' %}
{% load static %}
{% load imagekit %}
{% load bootstrap3 %}
{% load tags_concept %}
{% block title %}Usuń eurekę{% endblock %}

{% block recent_content_sidebar_left %}
    <div class="col-md-12 text-muted text_with_line">Usuwanie koncepcji</div>
    <div class="col-xs-12">
        {% render_concept_preview_big object %}
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-danger pull-right" type="submit">Usuń koncepcję</button>
        </form>
    </div>
{% endblock %}