{% extends 'dashboard_sidebar_recent.html' %}
{% load static %}

{% block recent_content_sidebar_top %}
    <div class="col-xs-12">
        <a href="?sort=-published" class="link-tab {% if table.order_by|safe == '-published' %}link-tab-active{% endif %}">
            <i class="fa fa-hand-rock-o" aria-hidden="true"></i> Najnowsze
        </a>
        <a href="?sort=-active" class="link-tab {% if table.order_by|safe == '-active' %}link-tab-active{% endif %}">
            <i class="fa fa fa-hand-spock-o" aria-hidden="true"></i> Aktywne
        </a>
        <a href="?sort=-popular" class="link-tab {% if table.order_by|safe == '-popular' %}link-tab-active{% endif %}">
            <i class="fa fa fa-hand-scissors-o" aria-hidden="true"></i> Popularne
        </a>
    </div>
{% endblock %}

{% block content_sidebar_left %}
    {% block search_content_sidebar_left %}
    {% endblock %}
{% endblock %}