{% extends 'search_base.html' %}
{% load static %}

{% block title %}Eureki{% endblock %}


{% block search_filter %}
    <a href=""><span class="link-remove-format" style="color: #C7254E">Dnia</span></a>
    <a href=""><span class="link-remove-format" style="color: #777777"></span> Tygodnia</a>
    <a href=""><span class="link-remove-format" style="color: #777777"></span> Miesiąca</a>
    <a href=""><span class="link-remove-format" style="color: #777777"></span> Roku</a>
{% endblock %}

{% block search_body %}
    <div class="clearfix row-no-padding">
        <div class="col-md-12 text-muted" style="margin-top: 15px; margin-bottom: 15px;">Trendy w eurekach<div style="display: block; height: 1px; width: 100%; background-color: #CCCCCC"></div> </div>
        <div class="col-md-12">
            <div class="clearfix row-no-padding">
                <div class="col-sm-2 text-center" style="color: #C7254E">
                        <strong style="font-size: 20px;">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i> 315
                        </strong>
                    <a href="#" class="btn btn-primary form-control">Eureka</a>
                    <div class="text-right"><small><a href="#">Zgłoś <sup>33</sup></a></small></div>
                </div>
                <div class="col-sm-3">
                    <img src="https://lh4.googleusercontent.com/Bb4un5_vLk9GRpWnHkRiu7ubrJuSCd6CDidhttPa4u04xZbfpcHBB9H2VYc2ZcBBrxRp7MPtIhQAcc4VOTyIT9x1SXtcz8C9Feize3nUWpwCi0LBQ7vrc9t8hU0yEsNxOfuEV3wF" class="img-responsive" style="width: 100%; padding-left: 10px; padding-right: 10px;">
                </div>
                <div class="col-sm-7">
                    <div class="clearfix row-no-padding">
                        <div class="col-xs-12">
                            <strong style="font-size: 20px;">Nowy robocik na arduino</strong>
                        </div>
                        <div class="col-xs-12">
                            <small class="text-muted"><i class="fa fa-user" aria-hidden="true"></i><span style="color: #C7254E">Stefan</span> <i class="fa fa-tags" aria-hidden="true"></i>#robotyka #arduino #programowanie</small>
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            Lorem ipsum dolor sit amet quam at ipsum. Nam in nonummy justo nibh, eu convallis eu, auctor scelerisque, dui vitae felis sollicitudin fringilla. In commodo nec, imperdiet ut, placerat pulvinar, odio. Nullam bibendum mi. Cras tempus nunc. Nunc elementum. Nam feugiat, urna ut magna dictum a, convallis libero. Praesent nunc. Vivamus est ultrices sit amet, volutpat tempus ornare enim nunc, rhoncus nunc, ornare nulla mi, nec dui. Mauris aliquet molestie.
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            <small class="text-muted"><i class="fa fa-comments" aria-hidden="true"></i> 20 <i class="fa fa-calendar" aria-hidden="true"></i> 11.03 2015r.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px; margin-bottom: 15px;"><div style="display: block; height: 1px; width: 100%; background-color: #CCCCCC"></div> </div>
        <div class="col-md-12">
            <div class="clearfix row-no-padding">
                <div class="col-sm-2 text-center" style="color: #337AB7">
                    <strong style="font-size: 20px;">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i> 22
                    </strong>
                    <a href="#" class="btn btn-primary form-control">Eureka</a>
                    <div class="text-right"><small><a href="#">Zgłoś <sup>1</sup></a></small></div>
                </div>
                <div class="col-sm-3">
                    <img src="https://lh4.googleusercontent.com/Bb4un5_vLk9GRpWnHkRiu7ubrJuSCd6CDidhttPa4u04xZbfpcHBB9H2VYc2ZcBBrxRp7MPtIhQAcc4VOTyIT9x1SXtcz8C9Feize3nUWpwCi0LBQ7vrc9t8hU0yEsNxOfuEV3wF" class="img-responsive" style="width: 100%; padding-left: 10px; padding-right: 10px;">
                </div>
                <div class="col-sm-7">
                    <div class="clearfix row-no-padding">
                        <div class="col-xs-12">
                            <strong style="font-size: 20px;">Nowy robocik na arduino</strong>
                        </div>
                        <div class="col-xs-12">
                            <small class="text-muted"><i class="fa fa-user" aria-hidden="true"></i><span style="color: #777777">Lolek</span> <i class="fa fa-tags" aria-hidden="true"></i>#robotyka #arduino #programowanie</small>
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            Lorem ipsum dolor sit amet quam at ipsum. Nam in nonummy justo nibh, eu convallis eu, auctor scelerisque, dui vitae felis sollicitudin fringilla. In commodo nec, imperdiet ut, placerat pulvinar, odio. Nullam bibendum mi. Cras tempus nunc. Nunc elementum. Nam feugiat, urna ut magna dictum a, convallis libero. Praesent nunc. Vivamus est ultrices sit amet, volutpat tempus ornare enim nunc, rhoncus nunc, ornare nulla mi, nec dui. Mauris aliquet molestie.
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            <small class="text-muted"><i class="fa fa-comments" aria-hidden="true"></i> 20 <i class="fa fa-calendar" aria-hidden="true"></i> 11.03 2015r.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px; margin-bottom: 15px;"><div style="display: block; height: 1px; width: 100%; background-color: #CCCCCC"></div> </div>
        <div class="col-md-12">
            <div class="clearfix row-no-padding">
                <div class="col-sm-2 text-center" style="color: #777777">
                    <strong style="font-size: 20px;">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i> 1
                    </strong>
                    <a href="#" class="btn btn-default form-control">Cofnij</a>
                    <div class="text-right"><small><a href="#">Zgłoś <sup>11</sup></a></small></div>
                </div>
                <div class="col-sm-3">
                    <img src="https://lh4.googleusercontent.com/Bb4un5_vLk9GRpWnHkRiu7ubrJuSCd6CDidhttPa4u04xZbfpcHBB9H2VYc2ZcBBrxRp7MPtIhQAcc4VOTyIT9x1SXtcz8C9Feize3nUWpwCi0LBQ7vrc9t8hU0yEsNxOfuEV3wF" class="img-responsive" style="width: 100%; padding-left: 10px; padding-right: 10px;">
                </div>
                <div class="col-sm-7">
                    <div class="clearfix row-no-padding">
                        <div class="col-xs-12">
                            <strong style="font-size: 20px;">Nowy robocik na arduino</strong>
                        </div>
                        <div class="col-xs-12">
                            <small class="text-muted"><i class="fa fa-user" aria-hidden="true"></i><span style="color: #337AB7">Tadzio</span> <i class="fa fa-tags" aria-hidden="true"></i>#robotyka #arduino #programowanie</small>
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            Lorem ipsum dolor sit amet quam at ipsum. Nam in nonummy justo nibh, eu convallis eu, auctor scelerisque, dui vitae felis sollicitudin fringilla. In commodo nec, imperdiet ut, placerat pulvinar, odio. Nullam bibendum mi. Cras tempus nunc. Nunc elementum. Nam feugiat, urna ut magna dictum a, convallis libero. Praesent nunc. Vivamus est ultrices sit amet, volutpat tempus ornare enim nunc, rhoncus nunc, ornare nulla mi, nec dui. Mauris aliquet molestie.
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            <small class="text-muted"><i class="fa fa-comments" aria-hidden="true"></i> 20 <i class="fa fa-calendar" aria-hidden="true"></i> 11.03 2015r.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_content %}
<div class="col-md-4" style="margin-top: 10px;">
    <div class="clearfix row-no-padding">
        <div class="col-md-12 text-muted" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12">Trendy w tagach</div>
            </div>
        <div style="display: block; height: 1px; width: 100%; background-color: #CCCCCC"></div> </div>
        <div class="col-md-12">
            <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-cogs" aria-hidden="true"></i></span> Robotyka</a>
            <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-globe" aria-hidden="true"></i></span> Informatyka</a>
            <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-code" aria-hidden="true"></i></span> Programowanie</a>
        </div>
        <div class="col-md-12 text-muted" style="margin-top: 25px; margin-bottom: 15px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12">Trendy w koncepcjach</div>
            </div>
        <div style="display: block; height: 1px; width: 100%; background-color: #CCCCCC"></div> </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="media">
                <div class="media-left text-center" style="color: #C7254E;">
                    <strong>
                        <i class="fa fa-circle-o" aria-hidden="true"></i> 113
                    </strong>
                    <img src="{% static 'media/default_images/avatar/666278.png' %}" class="media-object" style="width:64px">
                </div>
                <div class="media-body">
                    <strong>Lolek </strong> <sup>22 min temu</sup>
                    <p>
                        Mam nowy pomysł! dasdasd Mam nowy pomysł! Mam nowy pomysł! dasdasd Mam nowy pomysł!
                    </p>
                    <div class="text-center"><a href="#"><small>Komentarze <sup>66</sup></small></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="media">
                <div class="media-left text-center" style="color: #C7254E;">
                    <strong>
                        <i class="fa fa-circle-o" aria-hidden="true"></i> 11
                    </strong>
                    <img src="{% static 'media/default_images/avatar/666278.png' %}" class="media-object" style="width:64px">
                </div>
                <div class="media-body">
                    <strong>Lolek </strong> <sup>22 min temu</sup>
                    <p>
                        Mam nowy pomysł! dasdasd Mam nowy pomysł! Mam nowy pomysł! dasdasd Mam nowy pomysł!
                    </p>
                    <div class="text-center"><a href="#"><small>Komentarze <sup>3</sup></small></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="media">
                <div class="media-left text-center" style="color: #C7254E;">
                    <strong>
                        <i class="fa fa-circle" aria-hidden="true"></i> 44
                    </strong>
                    <img src="{% static 'media/default_images/avatar/666278.png' %}" class="media-object" style="width:64px">
                </div>
                <div class="media-body">
                    <strong>Lolek </strong> <sup>22 min temu</sup>
                    <p>
                        Mam nowy pomysł! dasdasd Mam nowy pomysł! Mam nowy pomysł! dasdasd Mam nowy pomysł!
                    </p>
                    <div class="text-center"><a href="#"><small>Komentarze <sup>66</sup></small></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-muted" style="margin-top: 25px; margin-bottom: 15px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12">Tredy w użytkownikach</div>
            </div>
        <div style="display: block; height: 1px; width: 100%; background-color: #CCCCCC"></div> </div>
        <div class="col-xs-6" style="margin-top: 10px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12 text-center">
                    <img src="{% static 'media/default_images/avatar/favicon — kopia.png' %}" class="img-responsive">
                    <a href="" class="btn btn-default" style="position: absolute; left: auto; top: 0; right: auto;">
                        <strong>
                            <i class="fa fa-trophy" aria-hidden="true"></i>1
                            <span style="color: #C7254E"><i class="fa fa-star-half-o" aria-hidden="true"></i>5345</span>
                            <br/>
                            Stefan
                        </strong>
                    </a>
                </div>
                <div class="col-xs-12 text-center">
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>32</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-circle-o" aria-hidden="true"></i></span>312</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-fire" aria-hidden="true"></i></span>2</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="margin-top: 10px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12 text-center">
                    <img src="{% static 'media/default_images/avatar/favicon — kopia.png' %}" class="img-responsive">
                    <a href="" class="btn btn-default" style="position: absolute; left: auto; top: 0; right: auto;">
                        <strong>
                            <i class="fa fa-trophy" aria-hidden="true"></i>4
                            <span style="color: #C7254E"><i class="fa fa-star-half-o" aria-hidden="true"></i> 11</span>
                            <br/>
                            Lolek
                        </strong>
                    </a>
                </div>
                <div class="col-xs-12 text-center">
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>11</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-circle-o" aria-hidden="true"></i></span>34</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-fire" aria-hidden="true"></i></span>1</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="margin-top: 10px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12 text-center">
                    <img src="{% static 'media/default_images/avatar/favicon — kopia.png' %}" class="img-responsive">
                    <a href="" class="btn btn-default" style="position: absolute; left: auto; top: 0; right: auto;">
                        <strong>
                            <i class="fa fa-trophy" aria-hidden="true"></i>4
                            <span style="color: #C7254E"><i class="fa fa-star-half-o" aria-hidden="true"></i> 11</span>
                            <br/>
                            Lolek
                        </strong>
                    </a>
                </div>
                <div class="col-xs-12 text-center">
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>32</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-circle-o" aria-hidden="true"></i></span>312</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-fire" aria-hidden="true"></i></span>2</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="margin-top: 10px;">
            <div class="clearfix row-no-padding">
                <div class="col-xs-12 text-center">
                    <img src="{% static 'media/default_images/avatar/favicon — kopia.png' %}" class="img-responsive">
                    <a href="" class="btn btn-default" style="position: absolute; left: auto; top: 0; right: auto;">
                        <strong>
                            <i class="fa fa-trophy" aria-hidden="true"></i>4
                            <span style="color: #C7254E"><i class="fa fa-star-half-o" aria-hidden="true"></i> 11</span>
                            <br/>
                            Lolek
                        </strong>
                    </a>
                </div>
                <div class="col-xs-12 text-center">
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>234</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-circle-o" aria-hidden="true"></i></span>11</a>
                    <a href=""><span class="link-remove-format" style="color: #777777"><i class="fa fa-fire" aria-hidden="true"></i></span>44</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}