{% extends 'dashboard_sidebar_base.html' %}

{% block content_sidebar_left %}
    <div class="col-xs-12 text-muted text_with_line" id="step_0">Postanowienia ogólne</div>
    <div class="col-xs-12">
        Niniejszy regulamin określa zasady, na jakich użytkownicy Internetu mogą korzystać z Serwisu eDobromir.pl. Strona została wykonana na potrzeby konkursu Kreator.
        Treści zamieszczane w Serwisie eDobromir.pl są dostępne dla wszystkich korzystających z Internetu, chyba że z opisu danej funkcjonalności wprost wynika inaczej, jednakże z pełnej funkcjonalności Serwisu eDobromir.pl mogą korzystać tylko zalogowani Użytkownicy.
        Serwis eDobromir.pl udostępniając swoje zasoby systemu teleinformatycznego umożliwia przechowywanie danych przez Użytkowników. Strona nie jest inicjatorem przekazu danych ani nie wybiera odbiorcy przekazu danych, jak również nie wybiera ani nie modyfikuje informacji zawartych w przekazie.
        Dostęp do treści w Serwisie eDobromir.pl oraz korzystanie z jego funkcjonalności opisanych w Regulaminie nie podlega żadnym opłatom. Warunkiem uzyskania dostępu do funkcjonalności Serwisu eDobromir.pl jest skorzystanie z urządzenia komunikującego się z Internetem i wyposażonego w powszechnie używaną przeglądarkę internetową, a w przypadku Użytkowników – również posiadanie konta poczty elektronicznej działającego na dowolnym serwerze (inny niż tymczasowy lub anonimowy).
        Strona może świadczyć inne usługi związane z Serwisem eDobromir.pl, których rodzaje i warunki świadczenia (w tym ewentualna odpłatność) określane są w odrębnych regulaminach przedkładanych do akceptacji osobom chcącym skorzystać z tych usług.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_1">Definicje</div>
    <div class="col-xs-12">
        Konto – wydzielone dla danego Użytkownika w Serwisie eDobromir.pl strony internetowe, gdzie zbierane i prezentowane są informacje o działaniach Użytkownika w Serwisie eDobromir.pl. Jeden Użytkownik może posiadać tylko jedno Konto w serwisie eDobromir, chyba, że Strona wyrazi zgodę na kolejne.
        Regulamin – niniejszy regulamin.
        Serwis eDobromir.pl – internetowy serwis prowadzony w domenie eDobromir.pl przez Spółkę, będący platformą komunikacyjną przeznaczoną do wymiany informacji, opinii i spostrzeżeń dotyczących treści dostępnych w sieci Internet.
        Strona – strona eDobromir.
        Użytkownik – osoba zarejestrowana w Serwisie eDobromir.pl.
        Poczekalnia – prowadzony w Serwisie eDobromir.pl katalog przeznaczony dla nowych Eurek.
        Eureka – zamieszczany przez Użytkownika w Serwisie eDobromir.pl link do wybranej przez niego strony internetowej lub treść wraz z odpowiednim utworzonym opisem.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_2">Rejestracja w Serwisie eDobromir.pl</div>
    <div class="col-xs-12">
        Zarejestrować się w Serwisie eDobromir.pl mogą tylko osoby fizyczne, które ukończyły trzynaście lat. Użytkownikami nie mogą być przedsiębiorcy, chyba że Strona wyrazi na to zgodę.
        W celu dokonania rejestracji należy podać w odpowiednim formularzu dostępnym w Serwisie eDobromir.pl co najmniej: nazwę, pod jaką Użytkownik zamierza występować w Serwisie eDobromir.pl (login), adres e-mail (inny niż tymczasowy lub anonimowy) oraz hasło, a następnie dokonać jednorazowej aktywacji polegającej na uaktywnieniu linku przesłanego na podany adres e-mail. Założenie konta oznacza automatyczną akceptację regulaminu.
        Użytkownik uzyskuje dostęp do pełnej funkcjonalności Serwisu eDobromir.pl po podaniu loginu i hasła (logowanie).
        Użytkownicy mają dodatkową możliwość logowania się w Serwisie eDobromir.pl z wykorzystaniem ich danych dostępowych pochodzących z serwisów zewnętrznych, które każdorazowo są wskazane na stronach Serwisu eDobromir.pl. Serwisy zewnętrzne mogą przewidywać dodatkowe warunki skorzystania z takiej opcji. Pierwsze takie logowanie (o ile nie następuje po rejestracji w Serwisie eDobromir.pl w sposób opisany w powyższym punkcie 3.2.) połączone jest z akceptacją Regulaminu. Wykonanie tych czynności jest traktowane jako rejestracja w Serwisie eDobromir.pl.
        Dokonanie aktywacji oznacza zakończenie rejestracji, z tą chwilą dochodzi do zawarcia pomiędzy Użytkownikiem a Stroną umowy o świadczenie usług drogą elektroniczną na warunkach określonych w Regulaminie i polegających na zapewnieniu Użytkownikowi możliwości korzystania z Serwisu eDobromir.pl w sposób opisany w Regulaminie w odniesieniu do danego Konta.
        W wyniku rejestracji dla Użytkownika tworzone jest Konto. Informacje na Koncie Użytkownik może uzupełnić o własne dane, przy czym dane te może w każdej chwili usunąć.
        Użytkownik ma wgląd wyłącznie do informacji jawnych dotyczących kont pozostałych Użytkowników.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_3">Podstawowa funkcjonalność Serwisu eDobromir.pl</div>
    <div class="col-xs-12">
        Użytkownicy mogą zamieszczać w Serwisie eDobromir.pl wybrane przez siebie Eureki.
        Każda Eureka umieszczane jest w Poczekalni i przedstawiane do oceny innym Użytkownikom.
        Użytkownicy mogą oceniać daną Eurekę oddając na nie głos pozytywny albo zgłaszając ją. Użytkownik może oddać na daną Eurekę tylko jeden głos. Głos pozytywny, może być cofnięty. Lista osób głosujących umieszczana jest na liście przy danej Eurece.
        Jeżeli Eureka zdobędzie odpowiednią liczbę głosów, zostanie przeniesione do katalogu prowadzonego na stronie głównej Serwisu eDobromir.pl. Jeżeli nie nastąpi to w terminie 24 godzin od umieszczenia Eureki w poczekalni - Eureka nie może trafić na główną stronę Serwisu eDobromir.pl. W szczególnych przypadkach Eureka może zostać pozbawione możliwości przeniesienia na stronę główną Serwisu eDobromir.pl przed upływem 24 godzin od umieszczenia Eureki w Poczekalni.
        Użytkownicy mogą w każdej chwili skomentować dowolną Eurekę, jak również odpowiadać na zamieszczone już komentarze.
        Eureki mogą być oceniane również po zamieszczeniu ich w katalogu na stronie głównej Serwisu eDobromir.pl.
        Użytkownikom może zostać udostępniona funkcja pozwalająca na komentowanie lub ocenianie innych treści zamieszczanych w Serwisie eDobromir.pl oraz funkcja pozwalająca na wymianę informacji, opinii i spostrzeżeń dotyczących treści dostępnych w sieci Internet.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_4">Zasady korzystania z Serwisu eDobromir.pl</div>
    <div class="col-xs-12">
        Wszelkie działania podejmowane przez Użytkowników w ramach Serwisu eDobromir.pl, a także cel tych działań, powinny być zgodne z obowiązującymi przepisami prawa, zasadami współżycia społecznego i dobrymi obyczajami, w szczególności zakazane jest dostarczanie przez Użytkownika treści o charakterze bezprawnym.
        Użytkownik ponosi pełną odpowiedzialność za swoje działania, w tym za treści, jakie zamieszcza w Serwisie eDobromir.pl.
        Treści tworzone przez Użytkownika powinny być zredagowane w czytelny sposób, nie mogą mieć charakteru reklamowego i nie mogą naruszać obowiązujących przepisów prawa, zasad współżycia społecznego, dobrych obyczajów (w tym dobrych praktyk) oraz praw osób trzecich, w szczególności nie mogą zawierać:
            wypowiedzi wulgarnych lub obraźliwych, w tym dotyczących innych Użytkowników eDobromir.pl
            wypowiedzi naruszających zasady dobrego wychowania i netykiety,
            treści propagujących przemoc, treści drastycznych, bądź nawołujących do szerzenia nienawiści, rasizmu, ksenofobii lub konfliktów między narodami,
            treści naruszających dobra osobiste (w szczególności wizerunku) lub prawa autorskie osób trzecich,
            treści o charakterze pornograficznym.
        Niedozwolone jest zamieszczanie w Serwisie eDobromir.pl linków do stron internetowych, na których zawarte są treści, o których mowa powyżej.
        Użytkownik poprzez umieszczenie danych, wizerunku, komentarzy lub innych treści w Serwisie eDobromir.pl wyraża zgodę na wykorzystywanie ich przez Stronę na potrzeby prowadzenia Serwisu eDobromir.pl oraz przez innych Użytkowników w zakresie ich osobistego użytku przez czas nieokreślony.
        Użytkownicy są zobowiązani do powstrzymania się od jakichkolwiek działań mających na celu manipulowanie treściami lub wynikami Eurek w Serwisie eDobromir.pl, do nie spamowania Serwisu eDobromir.pl oraz do powstrzymywania się od jakichkolwiek działań mogących utrudnić lub zakłócić funkcjonowanie Serwisu eDobromir.pl i korzystanie z usług Serwisu eDobromir.pl w sposób uciążliwy dla innych Użytkowników.
        Użytkownik może zamieszczać jedynie zdjęcia do których publikacji posiada stosowne prawa. Użytkownik wyraża zgodę na rozpowszechnianie i publiczne udostępnianie jego własnego wizerunku, oraz innych zamieszczonych przez siebie zdjęć w Serwisie eDobromir.pl, na zasadzie wskazanej w zdaniu uprzednim. Jeżeli zdjęcie przedstawia inną osobę, Użytkownik powinien otrzymać zgodę takiej osoby na rozpowszechnianie i publiczne udostępnianie jej wizerunku.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_5">Rola operatora Serwisu eDobromir.pl</div>
    <div class="col-xs-12">
        W ramach Serwisu eDobromir.pl strona udostępnia Użytkownikom odpowiednie narzędzia i miejsce na stronach internetowych Serwisu eDobromir.pl w celu umożliwienia im korzystania z jego funkcjonalności.
        Strona nie ponosi odpowiedzialności za działania Użytkowników w ramach Serwisu eDobromir.pl, ani za treść wszelkich danych zamieszczanych przez Użytkowników w Serwisie eDobromir.pl.
        Strona nie ponosi odpowiedzialności za przechowywane dane, o ile nie wie o bezprawnym charakterze tych danych lub związanej z nimi działalności, a w razie otrzymania urzędowego zawiadomienia lub uzyskania wiarygodnej wiadomości o bezprawnym charakterze danych lub związanej z nimi działalności niezwłocznie uniemożliwi dostęp do tych danych. W przypadku uniemożliwienia dostępu do danych z uwagi na uzyskaną wiarygodną wiadomość o ich bezprawnym charakterze Strona zawiadomi Użytkownika w ramach jego Konta.
        W uzasadnionych przypadkach Strona może usunąć Eurekę wraz ze wszystkimi komentarzami, jeżeli umieszczenie Eureki w Serwisie eDobromir.pl narusza postanowienia Regulaminu. Strona nie ma jednak obowiązku weryfikacji Eurek lub komentarzy.
        W uzasadnionych przypadkach Strona może usunąć lub w odpowiedni sposób zredagować treści umieszczane przez Użytkowników, jeżeli ich zamieszczenie w Serwisie eDobromir.pl narusza postanowienia Regulaminu. Strona nie ma jednak obowiązku weryfikacji jakichkolwiek danych zamieszczanych przez Użytkowników w Serwisie eDobromir.pl.
        W uzasadnionych przypadkach i zakresie Strona może uniemożliwić Użytkownikowi zalogowanie się i korzystanie z funkcjonalności Serwisu eDobromir.pl (czasowa blokada Konta), jeżeli Użytkownik narusza postanowienia Regulaminu. O powyższym Użytkownik jest informowany w drodze komunikatu w ramach jego Konta.
        Strona dokłada należytych starań w celu zapewnienia prawidłowego i nieprzerwanego funkcjonowania Serwisu eDobromir.pl, jednakże zastrzega możliwość czasowego wstrzymania, w niezbędnym zakresie i w uzasadnionych przypadkach, pracy Serwisu eDobromir.pl ze względów technicznych lub przyczyn niezależnych od Strony. Strona stara się ograniczyć negatywne skutki zaistniałych okoliczności.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_6">Ochrona prywatności</div>
    <div class="col-xs-12">
        Administratorem danych osobowych w rozumieniu ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tj. Dz.U. z 2002 roku, nr 101, poz. 926 z późn. zm.), w odniesieniu do danych Użytkowników, jest Strona. Dane osobowe Użytkownika mogą być przekazane Stronie przez Użytkownika lub przez podmioty prowadzące serwisy zewnętrzne, w tym Facebook, Twitter czy Google w związku z logowaniem się Użytkownika w Serwisie eDobromir.pl.
        Dane osobowe Użytkowników są przetwarzane przez Spółkę zgodnie z prawem, w tym zgodnie z przepisami ustawy o ochronie danych osobowych i ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2002 roku, nr 144, poz. 1204 z późn. zm.), w celu świadczenia przez Spółkę usług w ramach Serwisu eDobromir.pl oraz w celach marketingowych związanych z funkcjonowaniem przedsiębiorstwa Spółki (w tym Serwisu eDobromir.pl), a także związanych ze świadczeniem usług przez Spółkę. Podanie danych osobowych przez Użytkownika jest dobrowolne.
        Strona zapewnia Użytkownikom realizację uprawnień wynikających z ustawy o ochronie danych osobowych, w tym prawa dostępu do treści własnych danych osobowych i ich poprawiania oraz prawa do kontroli przetwarzania własnych danych osobowych na zasadach opisanych w przedmiotowej ustawie. W ramach realizacji prawa do kontroli przetwarzania własnych danych osobowych, Użytkownik ma w szczególności prawo do wniesienia pisemnego, umotywowanego żądania zaprzestania przetwarzania danych osobowych ze względu na swoją szczególną sytuację, a także wniesienia sprzeciwu wobec przetwarzania swoich danych, gdy Strona przetwarza je gdy jest to niezbędne dla wypełnienia prawnie usprawiedliwionych celów realizowanych przez Spółkę lub gdy Strona zamierza je przetwarzać w celach marketingowych, lub wobec przekazywania przez Spółkę danych osobowych innemu niż Strona administratorowi danych.
        Dane osobowe Użytkownika mogą być przekazywane podmiotom uprawnionym do ich otrzymania na mocy obowiązujących przepisów prawa, w tym właściwym organom wymiaru sprawiedliwości. Dane osobowe Użytkownika mogą być także przekazywane – w koniecznym zakresie – podmiotom trzecim (w tym podmiotom wykonującym na zlecenie Strony czynności dotyczące usług świadczonych w ramach Serwisu eDobromir.pl), jak też mogą być udostępniane za zgodą Użytkownika innym Użytkownikom.
        Dane osobowe Użytkowników są chronione przez Stronę przed ich udostępnieniem osobom nieupoważnionym, a także innymi przypadkami ich ujawnienia albo utraty oraz przed zniszczeniem lub nieuprawnioną modyfikacją wskazanych danych poprzez stosowanie odpowiednich zabezpieczeń organizacyjnych, a także zabezpieczeń o charakterze technicznym i programistycznym, w szczególności systemów szyfrowania danych.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_7">Postępowanie reklamacyjne</div>
    <div class="col-xs-12">
        Użytkownik może zgłaszać reklamacje dotyczące opisanego w Regulaminie funkcjonowania Serwisu eDobromir.pl.
        Reklamacje można zgłaszać poprzez wysłanie wiadomości na adres e-mail: hello@eDobromir.pl
        Zgłoszenie reklamacji powinno zawierać wskazanie nazwy, pod jaką Użytkownik występuje w Serwisie eDobromir.pl, jego adres e-mail przypisany do Konta oraz opis zdarzenia będącego przyczyną reklamacji. Jeżeli przekazane w reklamacji dane lub informacje wymagają uzupełnienia, przed rozpatrzeniem reklamacji Strona zwraca się do Użytkownika o jej uzupełnienie we wskazanym zakresie.
        Reklamacje zostaną rozpatrzone w terminie 14 dni od daty otrzymania przez Stronę prawidłowo złożonej reklamacji (zawierającej wymagane elementy i niewymagającej uzupełnienia).
        Użytkownik otrzyma informację o sposobie rozpatrzenia reklamacji drogą korespondencji elektronicznej, na adres e-mail przypisany do jego Konta.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_8">Zakończenie korzystania z Serwisu eDobromir.pl</div>
    <div class="col-xs-12">
        Użytkownik może rozwiązać umowę o świadczenie usług drogą elektroniczną na warunkach określonych w Regulaminie w każdym czasie.
        Oświadczenie o rozwiązaniu umowy Użytkownik może złożyć poprzez skorzystanie z ustawień dostępnych w formie elektronicznej poprzez wysłanie oświadczenia na adres e-mail: hello@eDobromir.pl lub poprzez skorzystanie z formularza kontaktowego.
        Strona może rozwiązać umowę o świadczenie usług drogą elektroniczną w trybie natychmiastowym gdy:
            Użytkownik narusza postanowienia Regulaminu, bądź zaakceptowanych przez Użytkownika odrębnych regulaminów innych usług związanych z Serwisem eDobromir.pl i świadczonych przez Stronę, lub
            Użytkownik podał dane lub złożył oświadczenia nieprawdziwe, nieaktualne, nieprawidłowe bądź niepełne lub podał dane innych osób
            W innych niż wskazane w powyższym punkcie sytuacjach Strona uprawniona jest do rozwiązania umowy z zachowaniem 14-dniowego okresu wypowiedzenia.
        Konsekwencją rozwiązania umowy jest usunięcie Konta, które wraz z jej zawarciem zostało utworzone. Usunięcie Konta nie powoduje automatycznego usunięcia wszystkich treści, jakie Użytkownik zamieścił w Serwisie eDobromir.pl.
    </div>

    <div class="col-xs-12 text-muted text_with_line" id="step_9">Postanowienia końcowe</div>
    <div class="col-xs-12">
        Regulamin jest udostępniany nieprzerwanie na stronie internetowej Serwisu eDobromir.pl w sposób umożliwiający Użytkownikom jego pozyskanie, odtwarzanie i utrwalanie jego treści poprzez wydrukowanie lub zapisanie na nośniku w każdej chwili.
        W przypadku zmiany niniejszego Regulaminu, Strona poinformuje o tym na stronach Serwisu eDobromir.pl, a w odniesieniu do Użytkowników.
        Zmiany Regulaminu wchodzą w życie w terminie określonym przez Stronę, nie krótszym jednak niż 14 dni od dnia ogłoszenia o zmianach w Serwisie eDobromir.pl oraz od dnia przesłania stosownego powiadomienia o zmianach do Użytkowników.
        W przypadku braku akceptacji nowego Regulaminu, Użytkownik uprawniony jest do rozwiązania, na zasadach określonych w powyższych punktach, umowy o świadczenie usług drogą elektroniczną na warunkach określonych w Regulaminie.
        We wszystkich sprawach nieuregulowanych w niniejszym Regulaminie zastosowanie znajdują przepisy powszechnie obowiązującego prawa polskiego, a w szczególności przepisy kodeksu cywilnego, ustawy o ochronie danych osobowych oraz ustawy o świadczeniu usług drogą elektroniczną.
        O ile bezwzględnie obowiązujące przepisy prawa nie stanowią inaczej, prawem właściwym dla całości umowy o świadczenie usług drogą elektroniczną na warunkach określonych w Regulaminie jest prawo polskie.
    </div>
{% endblock %}

{% block content_sidebar_right %}
    <div class="col-xs-12 text-muted text_with_line">Menu</div>
    <div class="col-xs-12">
        <ul id="nav" class="instruction_nav nav hidden-xs hidden-sm" data-spy="affix">
            <li><a href="#step_0">Postanowienia ogólne</a></li>
            <li><a href="#step_1">Definicje</a></li>
            <li><a href="#step_2">Rejestracja w Serwisie eDobromir.pl</a></li>
            <li><a href="#step_3">Podstawowa funkcjonalność Serwisu eDobromir.pl</a></li>
            <li><a href="#step_4">Zasady korzystania z Serwisu eDobromir.pl</a></li>
            <li><a href="#step_5">Rola operatora Serwisu eDobromir.pl</a></li>
            <li><a href="#step_6">Ochrona prywatności</a></li>
            <li><a href="#step_7">Postępowanie reklamacyjne</a></li>
            <li><a href="#step_8">Zakończenie korzystania z Serwisu eDobromir.pl</a></li>
            <li><a href="#step_9">Postanowienia końcowe</a></li>
        </ul>
        <div id="affix-stop" style="height:10px;"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#nav').affix({
            offset: {
              top: $('#nav').offset().top,
              bottom: ($('#footer').outerHeight(true)) + 40,
            }
        });
        $("#instruction_content").css("height", $('#instruction_content').outerHeight(true));
    </script>
{% endblock %}