{% extends 'dashboard_sidebar_base.html' %}

{% block content_sidebar_left %}
    <div class="col-xs-12 text-muted text_with_line">Czym są cookies (ciasteczka)?</div>
    <div class="col-xs-12" id="step_0">
        <p>
            To niewielkie informacje, nazywane ciasteczkami (z ang. cookie – ciastko), wysyłane przez serwis internetowy, który odwiedzamy i zapisywane na urządzeniu końcowym (komputerze, laptopie, smartfonie), z którego korzystamy podczas przeglądania stron internetowych.
        </p>
        <p>
            W  „cookies”, składających się z szeregu liter i cyfr, znajdują się różne informacje niezbędne do prawidłowego funkcjonowania serwisów internetowych, np. tych wymagających autoryzacji – m.in. podczas logowania do konta pocztowego czy sklepu internetowego.
        </p>
        <p>
            Wszystkie działające w internecie serwisy – wyszukiwarki, strony informacyjne, newsowe, sklepy internetowe, strony urzędów państwowych i innych instytucji publicznych, mogą prawidłowo działać dzięki wykorzystaniu „cookies”.
        </p>
        <p>
            Ciasteczka umożliwiają także m.in. zapamiętanie naszych preferencji i personalizowanie stron internetowych w zakresie wyświetlanych treści oraz dopasowania reklam. Dzięki „cookies” możliwe jest też rejestrowanie produktów i usług czy głosowanie w internetowych ankietach.
        </p>
        <p>
        Dane osobowe gromadzone przy użyciu „cookies” mogą być zbierane wyłącznie w celu wykonywania określonych funkcji na rzecz użytkownika, czyli np. zapamiętania logowania do serwisu czy zapamiętania towarów dodanych do koszyka w sklepie internetowym. Takie dane są zaszyfrowane w sposób uniemożliwiający dostęp do nich osobom nieuprawnionym.
        </p>
    </div>

    <div class="col-xs-12 text-muted text_with_line">Co nam dają cookies?</div>
    <div class="col-xs-12" id="step_1">
        <p>
            Dzięki „cookie” korzystanie ze stron internetowych jest łatwiejsze i przyjemniejsze a ich zawartość – teksty, zdjęcia, ankiety, sondy, ale również reklamy – jest lepiej dopasowana do oczekiwań i preferencji każdego użytkownika internetu.
        </p>
        <p>
            „Cookies”:
        </p>
        <ol>
            <li>
                umożliwiają zapamiętywanie naszych odwiedzin na stronie i naszych preferencji dotyczących tej strony (m.in. język strony, jej kolor, układ, rozmieszczenie treści);
            </li>
            <li>
                pozwalają sklepom internetowym polecać nam produkty związane z tymi, które zazwyczaj wybieramy, które mogą nas potencjalnie zainteresować;
            </li>
            <li>
                pomagają przechowywać towary wrzucone przez nas do zakupowego koszyka w sklepach online;
            </li>
            <li>
                umożliwiają korzystanie z kont w serwisach;
            </li>
            <li>
                pozwalają być zalogowanym do serwisu na każdej z dostępnych w danej witrynie podstron;
            </li>
            <li>
                sprawiają, że nie widzimy wciąż i wciąż tej samej reklamy czy ankiety do wypełnienia;
            </li>
            <li>
                pozwalają na prezentację nam reklam w sposób uwzględniający nasze zainteresowania czy miejsce zamieszkania – w ten sposób reklamy, dzięki którym korzystanie z wielu serwisów internetowych może być bezpłatne, mogą informować nas o potencjalnie interesujących nas produktach i usługach;
            </li>
            <li>
                pozwalają tworzyć anonimowe statystyki odwiedzalności serwisów.
            </li>
        </ol>
        <p>
            Dzięki „cookies” właściciele i wydawcy serwisów internetowych są w stanie ocenić realne zainteresowanie swoimi serwisami, mogą lepiej poznać oczekiwania i preferencje użytkowników, zrozumieć sposób w jaki użytkownicy korzystają z ich serwisów oraz, korzystając z najnowszych rozwiązań technologicznych, mogą stale udoskonalać swoje serwisy internetowe czyniąc je jeszcze przyjaźniejszymi i lepiej dostosowanymi do naszych potrzeb.
        </p>
    </div>

    <div class="col-xs-12 text-muted text_with_line">Co powinniśmy wiedzieć o „cookies”?</div>
    <div class="col-xs-12" id="step_2">
        <p>
            Nie służą identyfikacji użytkowników i na ich podstawie w żaden sposób nie jest ustalana czyjakolwiek tożsamość;
        </p>
        <ol>
            <li>
                „cookies” identyfikują dane komputera i przeglądarki używanych do przeglądania stron internetowych – pozwalają np. dowiedzieć się czy dany komputer już odwiedzał stronę;
            </li>
            <li>
                dane pozyskane z „cookies” nie są w żaden sposób łączone z danymi osobowymi użytkowników pozyskanymi np. podczas rejestracji w serwisach;
            </li>
            <li>
                nie są szkodliwe ani dla nas ani dla naszych komputerów, czy smartfonów – nie wpływają na sposób ich działania;
            </li>
            <li>
                nie powodują zmian konfiguracyjnych w urządzeniach końcowych, ani w oprogramowaniu zainstalowanym na tych urządzeniach;
            </li>
            <li>
                domyślne parametry „ciasteczek” pozwalają na odczytanie informacji w nich zawartych jedynie serwerowi, który je utworzył;
            </li>
            <li>
                na podstawie naszych zachowań na odwiedzanych stronach internetowych przekazują do serwerów informacje, dzięki którym wyświetlana strona jest lepiej dopasowana do indywidualnych preferencji.
            </li>
        </ol>
    </div>

    <div class="col-xs-12 text-muted text_with_line">Podstawowe rodzaje ciasteczek</div>
    <div class="col-xs-12" id="step_3">
        <p>
            „Cookies” sesyjne< – są to tymczasowe informacje przechowywane w pamięci przeglądarki do momentu zakończenia sesji przeglądarki, czyli do momentu jej zamknięcia. Te cookies są obowiązkowe, aby niektóre aplikacje lub funkcjonalności działały poprawnie.
        </p>
        <p>
            „Cookies” stałe – dzięki nim korzystanie z często odwiedzanych stron jest łatwiejsze (np. zapewniają optymalną nawigację, zapamiętują wybraną rozdzielczość, układ treści etc.). Te informacje pozostają pamięci przeglądarki przez dłuższy okres. Czas ten zależy od wyboru, którego można dokonać w ustawieniach przeglądarki. Ten rodzaj cookies zezwala na przekazywanie informacji na serwer za każdym razem, gdy odwiedzana jest dana strona. Stałe cookies są również nazywane jako tzw. śledzące „cookie” (ang. tracking cookies).
        </p>
        <p>
            „Cookies” podmiotów zewnętrznych – (ang. third parties cookies) – to informacje pochodzące np. z serwerów reklamowych, serwerów firm i dostawców usług (np. wyszukiwania albo map umieszczanych na stronie) współpracujących z właścicielem danej strony internetowej. Ten rodzaj cookie pozwala dostosowywać reklamy – dzięki którym korzystanie ze stron internetowych może być bezpłatne – do preferencji i zwyczajów ich użytkowników. Pozwalają również ocenić skuteczność działań reklamowych (np. dzięki zliczaniu, ile osób kliknęło w daną reklamę i przeszło na stronę internetową reklamodawcy). Na podstawie informacji pozyskanych z tych cookies można tworzyć tzw. ogólne profile użytkowników, dzięki którym mężczyźni interesujący się finansami i samochodami (odwiedzający strony o tej tematyce) zobaczą reklamy dopasowane do ich potencjalnych zainteresowań, a nie np. reklamę kobiecych kosmetyków.
        </p>
    </div>

    <div class="col-xs-12 text-muted text_with_line">Podstawowe rodzaje ciasteczek</div>
    <div class="col-xs-12" id="step_4">
        <p>
            Pamiętaj, że masz możliwość samodzielnego zarządzania „cookies”. Umożliwiają to np. przeglądarki internetowe, z których korzystasz. W najpopularniejszych przeglądarkach masz możliwość:
        </p>
        <ol>
            <li>
                zaakceptowania obsługi „cookies”, co pozwoli Ci na pełne korzystanie z opcji oferowanych przez witryny internetowe;
            </li>
            <li>
                zarządzania cookies na poziomie pojedynczych, wybranych przez Ciebie witryn;
            </li>
            <li>
                określenia ustawień dla różnych typów „cookie”, na przykład akceptowania plików trwałych jako sesyjnych itp.;
            </li>
            <li>
                blokowania lub usuwania cookies.
            </li>
        </ol>
        <p>
            Efektem zmiany ustawień w przeglądarce, w zależności od wybranej opcji, może być utrata możliwości korzystania z niektórych serwisów i usług lub z niektórych funkcji w nich dostępnych.
        </p>
    </div>

    <div class="col-xs-12">
        <a href="http://wszystkoociasteczkach.pl/po-co-sa-ciasteczka/" class="link-tab pull-right">~źródło</a>
    </div>
{% endblock %}

{% block content_sidebar_right %}
    <div class="col-xs-12 text-muted text_with_line">Menu</div>
    <div class="col-xs-12">
        <ul id="nav" class="instruction_nav nav hidden-xs hidden-sm" data-spy="affix">
            <li><a href="#step_0">Czym są cookies (ciasteczka)?</a></li>
            <li><a href="#step_1">Co nam dają cookies?</a></li>
            <li><a href="#step_2">Co powinniśmy wiedzieć o „cookies”?</a></li>
            <li><a href="#step_3">Podstawowe rodzaje ciasteczek</a></li>
            <li><a href="#step_4">Podstawowe rodzaje ciasteczek</a></li>
        </ul>
    </div>
    <div id="affix-stop" style="height:10px;"></div>
{% endblock %}

{% block script %}
    <script>
        $('#nav').affix({
            offset: {
              top: $('#nav').offset().top,
              bottom: ($('#footer').outerHeight(true)) + 40,
            }
        });
        $("#instruction_content").css("height", $('#instruction_content').outerHeight(true));
    </script>
{% endblock %}