{% extends "dashboard_one_column_base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content_column %}
    <div class="col-xs-12 text-muted text_with_line">Resetowanie hasła</div>
    <div class="col-xs-12">
        <p>
            Zapomniałeś hasła? Wpisz swój adres e-mail a otrzymasz od nas wiadomość z dalszymi instrukcjami oraz możliwością zmiany hasła.
            Skontaktuj się z nami jeśli masz problem z resetowanie swojego hasła.
        </p>

        {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-warning pull-right" type="submit" value="Zresetuj moje hasło" />
        </form>
    </div>
{% endblock %}
