{% extends "dashboard_one_column_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content_column %}
    <div class="col-xs-12 text-muted text_with_line">Resetowanie hasła</div>

    <div class="col-xs-12">
        {% if token_fail %}
            Niewłaściwy token do resetowania hasła!
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                Link do resetowania hasła jest nieprawidłowy, prawdopodobnie został już użyty.
                <a href="{{ passwd_reset_url }}">Zresetuj hasło ponownie.</a>
            </p>
        {% else %}
            {% if form %}
                <form method="POST" action="">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="btn btn-warning" type="submit" name="action" value="Zmień hasło"/>
                </form>
            {% else %}
                <p>Twoje hasło zostało zmienione.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
