{% extends "dashboard_one_column_base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content_column %}
    <div class="col-xs-12 text-muted text_with_line">Resetowanie hasła</div>

    <div class="col-xs-12">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            Wysłaliśmy email z dalszymi instrukcjami do resetowania hasła.
            Jeśli z jakiś powodów nie dotarł on w ciągu kilku minut napisz do nas.
        </p>
    </div>
{% endblock %}
