{% extends 'profile_settings_base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Zmiana hasła{% endblock %}

{% block settings_content_sidebar_left %}
    <div class="col-md-12 text-muted text_with_line">Zmiana hasła</div>
    <div class="col-xs-12">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary pull-right">Zmień hasło</button>
        </form>
    </div>
{% endblock %}
