{% extends "dashboard_one_column_base.html" %}


{% block title %}Zweryfikuj swój adres e-mail{% endblock %}

{% block content_column %}
    <div class="col-xs-12 text-muted text_with_line">Zweryfikuj swój adres e-mail</div>
    <div class="col-xs-12">
        Wysłaliśmy email do ciebie z linkiem aktywacyjnym.
        By dokończyć proces rejestracji i móc zacząć korzystać z konta musisz podążać za instrukacjami która Ci wysłaliśmy.
        Jeśli z jakiś powodów email nie dotarł w ciągu kilku minut, skontaktuj się znami.
    </div>
{% endblock %}
